<!DOCTYPE html>

<html>
    <head>
       
        <title>Change Password without old</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
             {% if form.non_field_errors %}
            {% for fm in form.non_field_errors %}
                <p>{{errors}}</p>
            {% endfor %}
            {% endif %}


            {% for fm in form %}
                {{fm.label_tag}}{{fm}}{{fm.errors | striptags}}<br><br>

            {% endfor %}

            <input type='submit' value='Submit'>
            <a href="{% url "register" %}">Register</a>
        </form>
       
       
    </body>
</html>